<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdg.cim.mapper.CimOriginalObliqueMapper">
    
    <resultMap type="CimOriginalOblique" id="CimOriginalObliqueResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="path"    column="path"    />
        <result property="srs"    column="srs"    />
        <result property="srsOrigin"    column="srs_origin"    />
        <result property="length"    column="length"    />
        <result property="publicFlag"    column="public_flag"    />
        <result property="source"    column="source"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCimOriginalObliqueVo">
        select id, name, path, srs, srs_origin, length, public_flag, source, description, del_flag, create_by, create_time, update_by, update_time, remark from cim_original_oblique
    </sql>

    <select id="selectCimOriginalObliqueList" parameterType="CimOriginalOblique" resultMap="CimOriginalObliqueResult">
        <include refid="selectCimOriginalObliqueVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="publicFlag != null  and publicFlag != ''"> and public_flag = #{publicFlag}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
        </where>
    </select>
    
    <select id="selectCimOriginalObliqueById" parameterType="Integer" resultMap="CimOriginalObliqueResult">
        <include refid="selectCimOriginalObliqueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCimOriginalOblique" parameterType="CimOriginalOblique" useGeneratedKeys="true" keyProperty="id">
        insert into cim_original_oblique
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="path != null">path,</if>
            <if test="srs != null">srs,</if>
            <if test="srsOrigin != null">srs_origin,</if>
            <if test="length != null">length,</if>
            <if test="publicFlag != null">public_flag,</if>
            <if test="source != null">source,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="path != null">#{path},</if>
            <if test="srs != null">#{srs},</if>
            <if test="srsOrigin != null">#{srsOrigin},</if>
            <if test="length != null">#{length},</if>
            <if test="publicFlag != null">#{publicFlag},</if>
            <if test="source != null">#{source},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCimOriginalOblique" parameterType="CimOriginalOblique">
        update cim_original_oblique
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="path != null">path = #{path},</if>
            <if test="srs != null">srs = #{srs},</if>
            <if test="srsOrigin != null">srs_origin = #{srsOrigin},</if>
            <if test="length != null">length = #{length},</if>
            <if test="publicFlag != null">public_flag = #{publicFlag},</if>
            <if test="source != null">source = #{source},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCimOriginalObliqueById" parameterType="Integer">
        delete from cim_original_oblique where id = #{id}
    </delete>

    <delete id="deleteCimOriginalObliqueByIds" parameterType="String">
        delete from cim_original_oblique where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>